- model_class = ToolPart.new.class
.row-fluid.page-header
  .span5
    %h3= t(".title")
  .span7
    .pull-right
      .btn-group
        = link_to tool_parts_path, class: "btn" do
          %i.icon-list
          %span= t(".index", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = render "import"
