= simple_form_for(@<%= singular_table_name %>, html: {class: "well form-horizontal"}) do |f|
  = f.error_notification
  = display_base_errors @<%= singular_table_name %>
  .form-inputs
<%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: { class: "input-block-level" }
<%- end -%>

  .form-actions
    = f.button :submit, t('helpers.links.submit'), class: 'btn-primary'
