- model_class = WorkOrder.new.class
.row-fluid.page-header
  .span5
    %h3= t(".title")
  .span7
    .pull-right
      .btn-group
        = link_to issue_work_orders_path, class: "btn" do
          %i.icon-plus
          %span= t(".issue")
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = form_tag issues_work_orders_path, method: :get, class: "form-inline" do
      .row-fluid
        .span12
          = text_field_tag "[search][text]", nil, placeholder: t(".hilt_no", default: t("helpers.links.search_placeholder")), class: "input-small"
          = text_field_tag "[search][issued_at_start]", nil, :"data-behaviour" => "datepicker", placeholder: t(".issued_at_start")
          = text_field_tag "[search][issued_at_end]", nil, :"data-behaviour" => "datepicker", placeholder: t(".issued_at_end")
          = button_tag class: "btn" do
            %i.icon-search
            %span= t(".search", default: t("helpers.links.search"))
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= model_class.human_attribute_name(:hilt_no)
          %th= model_class.human_attribute_name(:work_order_items)
          %th= model_class.human_attribute_name(:issued_at)
          %th= model_class.human_attribute_name(:issued_by)
      %tbody
        - @work_orders.each do |work_order|
          - work_order.work_order_items.each_with_index do |work_order_item, index|
            %tr{href: work_order_path(work_order)}
              - if index == 0
                %td{rowspan: work_order.work_order_items.size}= work_order.hilt_no
              %td= work_order_item.serial_no
              - if index == 0
                %td= work_order.issued_at
                %td= work_order.issued_by_name
.row-fluid
  .span12
    = paginate @work_orders
